* {
  margin: 0;
  padding: 0;
}

#headerDiv {
  background-color: #f6f6f6 !important;
  margin: none;
}

tr:nth-child(1){
    text-align: right;
  }

h1 {
  text-align: center;
  padding: 10px
}

table,th,td {
    padding:5px;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
  }
  
table{
    background-color: #f6f6f6;
    height:80%;
    width:80%;
    margin: 50px auto;
    border: 1px solid rgb(219, 209, 209);
    border-radius: 10px;
}

.nameStyle {
  font-weight: bold;
  font-size: 20px;
}

.descriptionStyle {
  font-size: 20px;
  color: gray;
}

.qttStyle {
  height: 30px;
  border-radius: 4px;
  
}

.addMinus {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 100px;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}
  
form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
#remove_button {
  color:rgb(155, 4, 4);
  border: none;
  background-color: #f6f6f6;
  text-decoration: none;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

#remove_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button span {
  border: none;
}       