*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(155, 4, 4);
}

.form_imgcontainer{
  text-align:center;
}

input[type=email], input[type=password],input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=email]:focus, input[type=password]:focus,input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=submit]
{
  width:80%;
  padding: 10px 20px;
  margin: 35px 35px;
  border-radius: 15px;
  background-color: rgba(12, 232, 52, 0.811);
  border:rgba(12, 232, 52, 0.811);
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

input[type=submit]:hover
{
  background-color: rgba(4, 206, 41, 0.811);
}

span.show, span.forgetpw{
  float: right;
}

.loginform_container{
  border-radius: 7px;
  background-color: white;
  padding: 80px 60px;
  margin: 150px 480px;
  width:430px;
  height:500px;
  top: 250px;
}

.link
{
  color:blue;
}

.link:hover
{
  color:blueviolet;
}