.content_wrapper{
  display:flex;
  background-color: blanchedalmond;
  width:90%;
  height: 100%;
  margin:0 5%;
}

.left-container{
  display:block;
  background-color: yellow;
  width:10%;
  height:100%;
}

.row{
  background-color: aqua;
  margin: 3%;
  width:fit-content;
  height: fit-content;
}

.row img{
  width: 58%;
  border-radius: 3%;
}
.row img:hover{
  border-radius: 50%;
}


.middle-container{
  width:500px;
  height: 100px;
  background-color: blue;
}

.middle-container img{
  width:80%;
  padding:5px;
}

.right-container{
  background-color: aquamarine;
  width: 35%;
  height: 500px;
  padding: 3%;
  margin-top: 50px;
  overflow: scroll;

}

.right-container button{
  width:25%;
  border-radius: 5px;
  padding: 3.5% 0;
  margin: 0 0.5% 1% 0;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

.right-container button:hover{
  border-color: black;
}

.size{
  background-color: aqua;
  width:470px;
  height:300px;
}

#product_name{
  margin:0%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.007em;
  font-size: 30px;
  padding: 0;
  line-height: 1.5;
  background-color: antiquewhite;
}
#product_subname{
  margin:0%;
  padding-bottom: 3%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#price{
  margin:0%;
  background-color: rgb(0, 255, 157);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.othercolours{
  display: flex;
  background-color: blanchedalmond;
  margin: 5% 0;
}
.othercolours_row{
  margin-right: 2%;
}

.othercolours_row img{
  width:80px;
}


#selectsize{
  margin:0%;
  padding-bottom: 3%;
  background-color: rgb(0, 255, 238);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#addToBag{
  width:75%;
  padding:4.5% 0%;
  font-size: 15px;
  border-radius: 100px;
  background-color: black;
  color: aliceblue;
  margin-top: 4%;
  margin-bottom: 2%;
}


#favourite{
  width:75%;
  padding:4.5% 0%;
  font-size: 15px;
  border-radius: 100px;
  background-color: #f6f6f6;
  color: black;
}

.details{
  background-color: azure;
  width:76%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.007em;
  text-align:left;
}

