*{
    margin :0;
    padding:0;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.box{
    position:relative;
    width:600px;
    height: auto;
}

.box.box1{
    width:400px;
    height:400px;
    margin:auto;
    border-radius:50%;
    box-shadow: #fff 0 0 15px 15px, inset #000 0 0 15px 15px
}
.box.box1.box_1{
    width:200px;
    height:400px;
    background-color: #fff;
    border-right: #000 200px solid;
    border-radius:50;
    animation:Box_1 2s linear infinite;
}

.box.box1.box_1::after,
.box.box1.box_1::before{
    content:"";
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
}

.box.box1.box_1::after{
    position:relative;
    top:0;
    left:50%;
    background-color: #000;
    border:75px solid #fff;
}

.box.box1.box_1::before{
    position:absolute;
    bottom:0;
    left:50%;
    background-color: #fff;
    border:#000 75px solid;
}

@keyframes Box_1{
    forn{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.box.box2{
    margin-top:60px;
}
p{
    color:#fff;
    font-size:20px;
}

h1{
    color:#ffff;
    margin-bottom: auto;
}